[Container]
AutoUpdate=registry
ContainerName=TARGETNAME_openssh

Network=proxy.network

Image=lscr.io/linuxserver/openssh-server:latest

Volume=./hosting:/var/www/html:z
Volume=./backups:/backups:z
Volume=./conf/openssh/custom-cont-init.d:/custom-cont-init.d:ro,z
Volume=TARGETNAME_ssh-config:/config:Z

Environment=TZ=Europe/Brussels 
Environment=PUBLIC_KEY="SSHPIPER_TO_OPENSSH_PUBLIC_KEY"
Environment=PASSWORD_ACCESS=false
Environment=LOG_STDOUT=true
Environment=USER_NAME="TARGETNAME"
Environment=PUID=33
Environment=PGID=33

HostName=openssh-TARGETNAME

Label=sshpiper.username="TARGETNAME"
Label=sshpiper.container_username="TARGETNAME"
Label=sshpiper.port="2222"
Label=sshpiper.authorized_keys="SSHPIPER_AUTHORIZED_KEYS"
Label=sshpiper.private_key="SSHPIPER_TO_OPENSSH_PRIVATE_KEY"

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target

[Unit]
Description=TARGETNAME OpenSSH container

